body{
			background: #000;
		}
		nav{
			width: 150px;
			height: 600%;
			margin-top: 60px;
			position: fixed;

            		}
		nav a{
			width: 100px;
			height: 150px;
			color: #fff;
			background:#333;
			float: left;
			font-size: 50px;
			text-align: center;
			line-height: 150px;
			border: 2px solid #000;
		}


		nav a:hover{
			background: #000;
			color: #fff;

		}

		.social{

			width: 200px;
			height: 400px;
			float: right;
			color: #fff;
			font-size: 65px;
			text-align: center;
			margin-top: 60px;
			-webkit-position:sticky;
			position:sticky;
			top: 60px;

		}
		.social a{
			width: 100px;
			height: 150px;
			color: #fff;
			background:#333;
			float: right;
			font-size: 50px;
			text-align: center;
			line-height: 150px;
			border: 2px solid #000;
		}
		.logo{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 400px;
			height: 400px;
		}

		.main {
            width:80%;
            margin: 0 auto;
            padding: 10px;



		}
		.info{
			width: 100%;
			margin-top:700px;
			
			padding: 10px;

		}
		.left{
			width: 40%
			padding:20px;  
			font-size: 20px;
			color: #fff;
			float:right;
			text-align: center;

		}
		.right{
			width: 40%
			padding:20px;
			font-size: 20px;
			color: #fff;
		
			text-align: center;

		}
		.price{
			display: inline-block;
			width: 80%;
			margin-left: 2.5%;

			margin-top:110px;
			height: 300px;
			position: absolute;
			justify-content: center;
			align-content: center;
			color: #fff;
			padding: 10px;

		}
		.card{
			display: inline-block;
			width: 200px;
			height: 300px;
			background: #000;
			margin-left: 4%;
			
			border: 2px solid #fff;
			box-shadow: 0 0 6px #fff;

		}
		.card h1{
			text-align: center;
			padding: 5px;
			background: #ddd;
			color: #000;

		}
		.card h2{
			text-align: center;
			padding: 5px;
			font-size: 45px;
			line-height: 70px;
		}
		input[type=submit]{
			background: #4CAF50;
			color: #fff;
			padding: 12px 20px;
			border: none;
			cursor: pointer;
		}
		.modal{
			margin-top: 700px;
			margin-left: 150px;
			margin-right: 150px;
			position: absolute;
			align-items:  center;
			width: 60%;
			text-align: left;
			height: auto;
			color: #fff;
			border:5px solid #fff;
			font-size: 20px;
		}
		.profile{
			top: 10%;
			left: 38%;
			width: 200px;
			height: 200px;
			position: relative;
		    
			border:5px solid #fff;
			border-radius: 50%;
			line-height: 20px;
			text-align: center;
			background: #ddd;
		}
		.container{
			margin-top:10%;
			margin-left: 15%;
			


			margin-right:15%; 
		}
		input[type=text], input[type=password]{
			width: 100%;
			padding:12px 20px;
			margin: 0px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		button{
			background-color: green;
			color: #fff;
			padding: 14px 20px;
			margin: 8px 0;
			border:none;
			cursor: pointer;
			width: 100%;
		}
		button:hover{
			background-color: blue;
		}
		.gallary{
			top: 2750px;
			left: 130px;
			width: 50%;
			height:auto;
			position: absolute;
		    font-size: 45px;
		}
		img{
			width: auto;
			height: 500px;

		}
		.contact{
			top: 3400px;
			left: 200px;
			position: absolute;
			width: 75%;
			height: auto;
			padding: 20px;
			color: #fff;
			font-size: 25px;
			background: #0000;
			border-radius: 5%;

		}
		textarea,select{
        width: 100%;
        padding: 12px;
        border:1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
 		}


.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}